.sportsee-customTooltip li {
    margin: 0;
    padding: 1rem;
    color: white;
  }
  
  .sportsee-customTooltipCalorie {
    background: #E60000 ;
  }
  .sportsee-customTooltipWeight {
    background: #E60000 ;
  }
  