.sportsee-customTooltip li {
  color: white;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 7px;
  line-height: 24px;
  text-align: center;
}

.sportsee-customTooltipCalorie {
  background: #e60000;
}
.sportsee-customTooltipWeight {
  background: #e60000;
}