
.sportsee-homeNav {
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 18px;
}
.sportsee-homeNav a{
    color: #ff0101;
    margin-right: 50px;
}

.sportsee-homeNavTitle {
    font-size: 48px;
}

.sportsee-homeNavText {
    margin-top: 20px;
    font-size: 48px;
}