.sportsee-center {
    display: flex;
}

.sportsee-centerText {
    margin-left: 100px;
    margin-top: 60px;
}
.sportsee-centerText h1 {
    font-weight: 500;
    font-size: 48px;
}
.sportsee-centerText h1 span {
    color: #ff0101;
}
.sportsee-centerText p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
}
.sportsee-homeNav {
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 400;
    font-size: 18px;
}
.sportsee-homeNav a{
    color: #ff0101;
    margin-right: 50px;
}