.sportsee-body {
    width: 100%;
    display: flex;
}
.sportsee-center {
    display: flex;
}

.sportsee-centerText {
    margin-left: 100px;
    margin-top: 60px;
}
.sportsee-centerText h1 {
    font-weight: 500;
    font-size: 48px;
}
.sportsee-centerText h1 span {
    color: #ff0101;
}
.sportsee-centerText p {
    margin-top: 40px;
    font-weight: 400;
    font-size: 18px;
}
.sportsee-activity {
    width: 835px;
    height: 320px;
    margin-left: 100px;
    margin-top: 70px;
    background: #fbfbfb;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
}

.sportsee-activityTitle {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    top: 35px;
    left: 32px;
}

.sportsee-graph {
    display: flex;
}

.sportsee-average {
    position: relative;
    width: 258px;
    height: 253px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-top: 30px;
    background: #ff0000;
    border-radius: 5px;
}

.sportsee-averageBack{
    position: absolute;
    background-color: #e60001;
    width: 79px;
    height: 263px;
    top: 0px;
    left: 179px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sportsee-averageTitle {
    position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    top: 29px;
    left: 34px;
}

.sportsee-radar{
    width: 258px;
    height: 263px;
    margin-left: 30px;
    margin-top: 30px;
    background: #282D30;
    border-radius: 5px;
}

.sportsee-health {
    margin-top: 234px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .sportsee-body {
        display: flex;
        flex-direction: column;
    }
    .sportsee-centerText {
        margin-top: 30px;
    }
    .sportsee-activity {
        margin-top: 30px;
    }
    .sportsee-health {
        margin-top: 20px;
        margin-left: 100px;
        display: flex;
    }
}